<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.asiantech.internship">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResourceActivity" android:label="W2 - Resource "/>
        <activity android:name=".ViewActivity" android:label="W1 - View and View Group"/>
        <activity android:name=".IntentActivity" android:label="W1 - Intent "/>
        <activity android:name=".MessageHomeActivity" android:label="W2 - Activity and Fragment"/>
        <activity android:name=".PracticViewPageActivity" android:label="W3 - ViewPage"/>
        <activity android:name=".SignupActivity" android:label="W2 - Event and Listenes"/>
        <activity android:name=".RecyclerViewExampleActivity" android:label="W3-D1-RecyclerView"/>
        <activity android:name=".UserMenuActivity" android:label="W4 - Memu and ToolBar"/>
        <activity android:name=".MyDatabaseActivity" android:label="Database Example"/>
        <activity android:name=".PlayMusicActivity" android:label="Service and Broadcast Receiver"/>
        <service android:name=".MusicServices"/>
        <activity android:name=".UseApiActivity" android:label="@string/lable_api"/>
        <activity android:name=".InfoSingerActivity" android:label="@string/lable_infosinger"/>
        <activity android:name=".LoginUnitTestActivity" android:label="@string/unit_test"/>
    </application>
</manifest>
